.cabecalho {background-color: rgb(27, 44, 199);}
{ margin:10px;
padding:10px;}

body { font-family: sans-serif;}

.cabecalho{
    background-color: rgba(15, 29, 105, 0.705);
    display: flex;
    padding: 30px;
    font-size: 24px;
    justify-content: space-around;
}

    .cabecalho-imagem{
        width: 100px;
        height: 100px;
    }

    .cabecalho-item{
        display:inline-block;
        padding: 0 100px;
        text-decoration: underline;
    }
    .turma {background-image: linear-gradient(rgba (6, 19, 95, 0.705), rgba(182,));
    padding: 30px;
}

