
html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.cabecalho {
    background-color: rgba(15, 29, 105, 0.705);
    color: white;
    display: flex;
    padding: 15px;
    font-size: 24px;
    justify-content: space-around;
}

.cabecalho-imagem {
    width: 100px;
    height: 100px;
}

.cabecalho-item {
    display: inline-block;
    padding: 0 20px; 
    text-decoration: underline;
}
.turma-titulo {
    padding-bottom: 30px;
    text-align: center;
    font-size: 30px;
}

.turma-div{
    display: flex;
    justify-content: center;
}

.turma {
    background-image: linear-gradient(rgba(6, 19, 95, 0.705), rgba(182, 182, 182, 0));
    padding: 50px;
 
}
.turma-imagem {
    width: 750px;
    height: 600px;
    margin: 10px;
}
