.cabecalho {background-color: rgb(134, 143, 223);}
{ margin:0px;
padding:0px;}

body { font-family: sans-serif;}

.cabecalho{
    background-color: rgba(6, 19, 95, 0.705);
    display: flex;
    padding: 30px;
    font-size: 24px;
    justify-content: space-around;}

    .cabecalho-imagem{
        width: 100px;
        height: 100px;
    }

    .cabecalho-item{
        display:inline-block;
        padding: 0 100px;
        text-decoration: underline;
    }
    .turma